[submodule "ArmSystem"]
	path = ArmSystem
	url = git@gxgitlab.int:GXDesign/ArmSystem.git
[submodule "CommonHal"]
	path = CommonHal
	url = git@gxgitlab.int:GXDesign/CommonHal.git
[submodule "GxInstrumentationHidDevice"]
	path = GxInstrumentationHidDevice
	url = git@gxgitlab.int:GXDesign/GxInstrumentationHidDevice.git
[submodule "IntegratedDebugProtocol"]
	path = IntegratedDebugProtocol
	url = git@gxgitlab.int:GXDesign/IntegratedDebugProtocol.git
[submodule "Utils"]
	path = Utils
	url = git@gxgitlab.int:GXDesign/Utils.git
[submodule "Dispatcher"]
	path = Dispatcher
	url = git@gxgitlab.int:GXDesign/Dispatcher.git
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = git@gxgitlab.int:GXDesign/FreeRTOS.git
[submodule "BTPlusPlus"]
	path = BTPlusPlus
	url = git@gxgitlab.int:GXDesign/BTPlusPlus.git
[submodule "HidLibrary"]
	path = HidLibrary
	url = https://github.com/VitalElement/HidLibrary.git
[submodule "IdpProtocol"]
	path = IdpProtocol
	url = https://github.com/VitalElement/IdpProtocol.git
