[submodule "STM32F4Cube"]
	path = STM32F4Cube
	url = git@gitlab.com:GXDesign/STM32F4Cube.git
[submodule "Dispatcher"]
	path = Dispatcher
	url = git@gitlab.com:GXDesign/Dispatcher.git
[submodule "Retarget"]
	path = Retarget
	url = git@gitlab.com:GXDesign/Retarget.git
[submodule "ArmSystem"]
	path = ArmSystem
	url = git@gitlab.com:GXDesign/ArmSystem.git
[submodule "Utils"]
	path = Utils
	url = git@gitlab.com:GXDesign/Utils.git
[submodule "CommonHal"]
	path = CommonHal
	url = git@gitlab.com:GXDesign/CommonHal.git
[submodule "GxIntrumentationHidDevice"]
	path = GxIntrumentationHidDevice
	url = git@gitlab.com:GXDesign/GxInstrumentationHidDevice.git
[submodule "STM32HalPlatform"]
	path = STM32HalPlatform
	url = git@gitlab.com:GXDesign/STM32HalPlatform.git
[submodule "IntegratedDebugProtocol"]
	path = IntegratedDebugProtocol
	url = git@gitlab.com:GXDesign/IntegratedDebugProtocol.git
[submodule "StepperMotor"]
	path = StepperMotor
	url = git@gitlab.com:GXDesign/StepperMotor.git
[submodule "DCMotor"]
	path = DCMotor
	url = git@gitlab.com:GXDesign/DCMotor.git
[submodule "TemperatureController"]
	path = TemperatureController
	url = git@gitlab.com:GXDesign/TemperatureController.git
[submodule "StateEngine"]
	path = StateEngine
	url = git@gitlab.com:GXDesign/StateEngine.git
[submodule "Packages/CatchTestFramework"]
	path = Packages/CatchTestFramework
	url = https://github.com/VitalElement/VEStudio.Catch.git
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = git@gitlab.com:GXDesign/FreeRTOS.git
[submodule "BTPlusPlus"]
	path = BTPlusPlus
	url = git@gitlab.com:GXDesign/BTPlusPlus.git
